@import 'mixin', 'colors';

// Gas prices table / 3 Weeks prices
.usa-gas-prices-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;

  p{
    font-weight: bold;
    margin: 0px;
  }
  span{
    color: $gray;
  }
  #usa-gasoline-prices,
  #usa-diesel-prices{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    table{
      flex: 1;
      border-spacing: 0px;
      font-size: 16px;
      border-collapse: collapse;
      
      thead{
        th{
          border-bottom: 2px solid $green;
        }
      }
      th, td {
        padding: 10px;
      }
      tr{
        td{
          border-bottom: 1px solid $green;
  
          &.level-1-indent{
            padding-left: 40px;
          }

          &:not(:first-child){
            text-align: center;
          }

          &.value_down:before,
          &.value_up:before{
            content: " ";
            display: inline-block;
            height: 14px;
            margin: 0 5px 0 0;
            position: relative;
            top: 1px;
            width: 12px;
          }

          &.value_down:before{
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 12'%3E%3Cpath fill='%235d9732' d='M1 4.2 5 11l4-6.8H6.6V1H3.4v3.2H1z'/%3E%3C/svg%3E") no-repeat 50%;
          }

          &.value_up:before{
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 12'%3E%3Cpath fill='%23a33340' d='M9 7.8 5 1 1 7.8h2.4V11h3.2V7.8H9z'/%3E%3C/svg%3E") no-repeat 50%
          }
        }
      }
    }
  }
}
.ct-shortcode{
  width: 100%;
  h2{
    font-size: 2.8rem;
    line-height: 1;
  }
}

.usa-gas-prices-chart,
.usa-gas-prices-chart-wrapper{
  & > span{
    color: $gray;
  }
}

// ANTD checkbox
// .ant-checkbox-inner{
//   width: 32px!important;
//   height: 32px!important;
//   &::after{
//     width: 32px!important;
//     height: 32px!important;
//   }
// }
.ant-checkbox-inner, .ant-checkbox-input {
  transform: scale(1.5);
  margin: 6px 10px 6px 0 !important;
}

input[value='U.S.'] + span.ant-checkbox-inner{
  background-color: $us !important;
  border-color: $us !important;
}

input[value='East Coast'] + span.ant-checkbox-inner{
  background-color: $east_cost !important;
  border-color: $east_cost !important;
}

input[value='New England'] + span.ant-checkbox-inner{
  background-color: $new_england !important;
  border-color: $new_england !important;
}

input[value='Central Atlantic'] + span.ant-checkbox-inner{
  background-color: $central_atlantic !important;
  border-color: $central_atlantic !important;
}

input[value='Lower Atlantic'] + span.ant-checkbox-inner{
  background-color: $green !important;
  border-color: $green !important;
}

input[value='Midwest'] + span.ant-checkbox-inner{
  background-color: $midwest !important;
  border-color: $midwest !important;
}

input[value='Gulf Coast'] + span.ant-checkbox-inner{
  background-color: $gulf_coast !important;
  border-color: $gulf_coast !important;
}

input[value='Rocky Mountain'] + span.ant-checkbox-inner{
  background-color: $rocky_mountain !important;
  border-color: $rocky_mountain !important;
}

input[value='West Coast'] + span.ant-checkbox-inner{
  background-color: $west_coast !important;
  border-color: $west_coast !important;
}

input[value='California'] + span.ant-checkbox-inner{
  background-color: $california !important;
  border-color: $california !important;
}

// ANTD radio
:where(.css-dev-only-do-not-override-nllxry).ant-radio-wrapper .ant-radio-checked .ant-radio-inner,
:where(.css-nllxry).ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
  border-color: $green !important;
  background-color: $green !important;
}

.ant-radio-wrapper:hover :where(.css-nllxry).ant-radio-wrapper, :where(.css-nllxry).ant-radio-wrapper:hover .ant-radio-inner{
  border-color: $green !important;
}

// Chart Loader
.loader-custom-style {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 100px;
  text-align: center;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
}

// Gas Prices Averages
.todays-gas-price-average{
  @include todays-price-wrapper;
  
  div{
    padding: 10px;

    p{
      margin: 0px;
      font-size: 16px;
      &:first-of-type{
        color: $green;
      }
      &:last-of-type{
        color: $gray;
      }
    }
    &:first-child{
      padding-right: 60px;
    }
    &:last-child{
      @include light-green-bg;
    }
  }
}

// USA PADD visual gas prices
#tooltip-wrapper{
  display: none;
  max-width: 200px;
  width: 100%;
  position: absolute;
  z-index: 999;
  .padd-visual{
    @include todays-price-wrapper;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    p{
      margin: 0px;
    }
    .region{
      font-weight: 700;
    }
    .price{
      @include light-green-bg;
      padding: 10px;
    }
    .state{
      color: $green;
      font-size: 14px;
    }
    .date{
      color: $gray;
      font-size: 14px;
    }
    .padd1a, .padd1b, .padd1c{
      font-weight: 700;
      span{
        color: $green;
      }
    }
  }
}

// PADDS Filter
.gas-type-filter{
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 22px;
  span{
    font-size: 22px;
    color: var(--paragraph-color);
    font-family: "Roboto";
    font-weight: 800;
  }
}

.ant-radio-group,
.ant-radio-wrapper,
.ant-checkbox-wrapper{
  font-size: inherit!important;
}
.ant-checkbox-group{
  gap: 10px;
  margin: 20px 0px;
  font-size: inherit!important;
}

#usa-padd-prices{
  position: relative;
}

@media only screen and (max-width: 691px) {
  .ct-shortcode{
    .usa-gas-prices-chart,
    .usa-gas-prices-wrapper{
      h2, span{
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}