<!DOCTYPE html>
      <html lang="en">
        <head>
        <style type="text/css">
          body{
            font-family: sans-serif;
            color: rgb(87, 91, 76)
          }
          .first-column{
            width: 45%;
            display: table-row-group;
          }
          .first-column p{
            font-size: 22px;
          }
          .second-column{
            width: 55%;
          }
          .second-column div.wrap{
            float: left;
            /* display: flex;
            flex-direction: column; */
          }
          h1, h2, h3{
            margin: 0px;
          }
          table{
            border-collapse: collapse
          }
        </style>
        </head>
        <body>
          <table cellspacing="0">
            <tr>
              <td colspan="2" style="text-align: center;">
                <img src="../images/FL-HORIZONTAL-W-SLOGAN.png" alt="Fuel Logic" style="width: 400px;">
                <h2 style="font-family: sans-serif; font-weight: lighter; font-size: 26px; margin-bottom: 40px;">Fuel Logic - Powering Efficiency, One Gallon at a Time.</h2>
              </td>
            </tr>
            <tr>
              <td class="first-column">
                <div style="float: left;">
                  <h1>The <span style="color: #a2cc3a;">True Cost</span> Of Fuel</h1>
                  <p>With Fuel Logic, fueling is simplified. Fleet managers, on average, save $21, 840 annually. Why? It's not just about pump prices; it's about time, labor, and productivity.</p>
                  <h3>Bulk Fuel Delivery:</h3>
                  <p>Get competitive pricing, predictable schedules, and deliveries tailored to your needs. No more guessing, no more wasted hours.</p>
                  <h3>Direct to Equipement Fueling:</h3>
                  <p>Fuel comes straight to your equipment. Save on wear, tear, and downtime.</p>
                  <h3>Fuel Management with Precision:</h3>
                  <p>From wholesale rates and detailed consumption tracking to emergency support, we've got you covered. Fuel logic isn't just a supplier; we're your strategic partner.</p>
                  <p>In every industry, from construction to event management, reliable fueling is crucial. Fuel Logic ensures you're always powered up, optimizing your operations and budget.</p>
                </div>
              </td>
              <td class="second-column">
                <div class="wrap">
                  <div style="background: #f7fce8; padding: 20px;">
                    <h1>So, how much did that gallon of fuel really cost?</h1>
                  
                    <ul>
                      <li><b>Your Average Fueling Data</b></li>
                      <li>Number of Operators? 33</li>
                      <li>Number of Units in Fleet? 5</li>
                      <li>Frequency of Fueling (Days/Wk)? 3</li>
                      <li>Round-Trip per Fueling (Minutes)? 33</li>
                      <li>Estimated Gallons per Fill? 33</li>
                      <li>Number of Operators? 2</li>
                      <li>Average hourly rate? 22</li>
                    </ul>
            
                    <hr/>
            
                    <h2>Every gallon you pump cost an additional: $0.67</h2>
                    <ul style="list-style:none; padding: 10px; border: 1px dotted #c4ec87; background: #f4fde7; font-size: 19px!important; line-height: 24px;">	
                      <li style="border-bottom: 1px dotted #9cc83a; padding: 5px; background: #f7fcf0;">Estimated Gallons Consumed per Week: <span style="color: #73a03b; font-weight: 900; "><span class="lfb_richVariable" data-varitemid="449" data-action="price">660.00</span></span></li>
                      <li style="border-bottom: 1px dotted #9cc83a; padding: 5px; background: #eef7d9;">Man Hours Allocated to Fueling per Week: <span style="color: #73a03b; font-weight: 900; "><span class="lfb_richVariable" data-varitemid="450" data-action="price">20.00</span></span></li>
                      <li style="border-bottom: 1px dotted #9cc83a; padding: 5px; background: #f7fcf0;">Lost Asset Production Hours per Week: <span style="color: #73a03b; font-weight: 900;"><span class="lfb_richVariable" data-varitemid="451" data-action="price">10.00</span></span></li>
                      <li style="border-bottom: 1px dotted #9cc83a; padding: 5px; background: #d9d9d9;">Estimated Cost of Self Fueling per Week: <span style="color: black; font-weight: 900; ">$<span class="lfb_richVariable" data-varitemid="452" data-action="price">440.00</span></span></li>
                    </ul>
            
                    <h2>With Fuel Logic Your Estimated Yearly Fuel Savings: $22,880.00</h2>
                  </div>
                  <div style="display: flex; flex-direction: row; margin-top: 40px;">
                    <img src="../images/FL-logoSquare-ICON.jpg" alt="Fuel Logic" style="width: 100px;"><h1 style="color: #a2cc3a; width: 550px;">Unlock Your Fueling Potential with Fuel Logic</h1>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <hr style="margin-top: 30px;"/>
                <h2 style="padding: 20px 0px;">
                  www.fuellogic.net. |. sales@fuellogic.net. | 866-934-6062
                </h4>
              </td>
            </tr>
          </table>
        </body>
      </html>